.top-cont{
    height: 75vh;
    width: 100vw;
    position: relative;
    display: flex;
    font-family: 'Archivo Black', sans-serif;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.top-title{
    width: 60vw;
    margin-left: 30px;
    font-size: 50px;
    color: rgb(245, 240, 242);
    text-shadow: 0px 5px #660b2f;
    margin-top: 20px;
}
.top-inside-cont{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    width: 80vw;
}
.small-text{
    font-size: 20px;
    color: #ebc1d4;
    text-shadow: 0px 2px #580d30;
}
.profile-pic{
    height: 200px;
    width: 200px;
    margin: auto;
    background-color: rgba(136, 8, 55, 0.2);
    border-radius: 110px 110px;
    box-shadow: 0px 5px #660b2f;
    background-image: url('../pics/profile-removebg-preview.png');
    background-position: center;
    background-repeat: no-repeat;
    background-position-y: 0px;
    background-size: 90%;
}
.anime-top{
    animation: fade 1.2s;
    transition: 2s;
}
.trans-frame{
    height: 100vh;
    width: 100vw;
    background-image: url('../pics/trans-top.png');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
    z-index: 2;
}
.stars-wrap{
    position: relative;
    z-index: 1;
    height: 2500px;
    width: 2502px;
    background-image: url('../pics/sr1_w_trans.png');
    background-repeat: repeat;
    background-size: 250px;
    background-position: center;
    bottom: 158vh;
    right: 520px;
    animation: stars 300s infinite linear;
}

.wrapper{
    overflow: hidden;
}

@keyframes stars {
    0%{
        transform: rotate(360deg);
        opacity: 0%;
    }
    1%{
        opacity: 100%;
    }
    100%{
        transform: rotate(0deg);
    }
}
@media (max-width: 1150px) {
    .profile-pic{
        border: 1px solid rgb(116, 15, 70);
        position: relative;
    }
    .top-title{
        font-size: 30px;
        width: 80vw;
    }
    .small-text{
        font-size: 15px;
        margin-top: 10px;
    }
}
@keyframes fade {
    0%{
        bottom: 20vh;
        
    }
    100%{
        bottom: 0vh;
        
    }
}
@media (max-width: 400px){
    .stars-wrap{
        background-size: 210px;
        bottom: 230vh;
        right: 850px;    
        animation: stars 180s infinite linear;
    }
}
